{% extends 'base.html' %}
{% block header %}
<a class="site-name" href="{% url 'gs_schdl:schedule' production.id %}">{{ production.title }}</a>
{% endblock %}

{% block content %}
<h1>{{ name }}</h1>
<table>
    {% for row in table_data %}
        <tr>
            <td nowrap><a href="{% url 'gs_schdl:rehearsal' prod_id=production.id rh_idx=forloop.counter0 %}">{{ row.0 | linebreaksbr }}</a></td>
            <td nowrap>{{ row.1 | linebreaksbr }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}