{% extends 'base.html' %}
{% block header %}
<a class="site-name" href="{% url 'gs_schdl:prod_index' %}">GSS</a>
<nav><a href="{% url 'gs_schdl:schedule' production.id %}">{{ production.title }}</a></nav>
{% endblock %}

{% block content %}
<h1>{{ datetime }}</h1>
<p>{{ place }}</p>
<table>
    {% for row in table_data %}
        <tr>
            <td><a href="{% url 'gs_schdl:person' prod_id=production.id %}?idx={{ forloop.counter0 }}">{{ row.0 | linebreaksbr }}</a></td>
            <td>{{ row.1 | linebreaksbr }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}