{% extends 'base.html' %}
{% block header %}
<a class="site-name" href="{% url 'gs_schdl:schedule' production.id %}">{{ production.title }}</a>
{% endblock %}

{% block content %}
<h1>Team status</h1>
<h2>{{ rhplan }}</h2>
<table>
    {% for item in table_data %}
        <tr>
            <td><a href="{% url 'gs_schdl:team' prod_id=production.id team_id=item.id %}">{{ item.name }}</a></td>
            <td>{{ item.ok_cnt}}</td><td>{{ item.other_st }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
