{% extends 'base.html' %}
{% block header %}
<a class="site-name" href="{% url 'gs_schdl:prod_index' %}">GSS</a>
<nav>
    <a href="{% url 'gs_schdl:mb_list' prod_id=production.id %}">人</a> |
    <a>チーム</a>
</nav>
{% endblock %}

{% block content %}
<h1>{{ production.title }}</h1>
<table>
    {% for row in table_data %}
        {% if forloop.counter0|divisibleby:"5" %}
            <tr>
                <th>日時</th>
                <th>場所</th>
                {% for name in names %}
                    <th><a href="{% url 'gs_schdl:member' prod_id=production.id %}?idx={{ forloop.counter0 }}"><b>{{ name }}</b></a></th>
                {% endfor %}
            </tr>
        {% endif %}
        <tr>
        {% for data in row %}
            {% if forloop.counter0 == 0 %}
                <td nowrap><a href="{% url 'gs_schdl:rehearsal' prod_id=production.id rh_idx=forloop.counter0 %}">{{ data | linebreaksbr }}</a></td>
            {% elif forloop.counter0 == 1 %}
                <td nowrap>{{ data | linebreaksbr }}</td>
            {% else %}
                <td align="center">{{ data }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
